<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description"
          th:content="#{layout.content}">
    <meta name="keywords"
          content="portfolio, progrmaiasta, java, php, css, html">
    <meta name="author" content="Paweł Skrzypkowski">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="icon.ico"/>
    <title th:text="#{layout.title}"></title>
    <link th:href="@{'css/main.css'}" rel="stylesheet" type="text/css" media="screen" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script th:src="@{'js/bootstrap.min.js'}"></script>
<nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left navbar-inverse">
            <li class="dropdown"><a href="#" class="dropdown-toggle"
                                    data-toggle="dropdown" role="button" aria-haspopup="true"
                                    aria-expanded="false"><th:block th:text="#{layout.menu}"></th:block><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="active"><a th:href="@{'/'}"><th:block th:text="#{layout.menu.home}"></th:block></a></li>
                    <li><a th:href="@{'/login'}"><th:block th:text="#{layout.menu.login}"></th:block></a></li>
                    <li><a th:href="@{'/register'}"><th:block th:text="#{layout.menu.register}"></th:block></a></li>
                    <li role="separator" class="divider"></li>
                    <li><a th:href="@{'/contact'}"><th:block th:text="#{layout.menu.contact}"></th:block></a></li>
                </ul></li>
        </ul>
        <div class="navbar-header navbar-right navbar-inverse">
            <a class="navbar-brand" th:text="#{layout.brand}" href="#"></a>
        </div>
    </div>
</nav>


<div class="container" style="font-family: 'din-next';">
    <div class="row">
        <div class="col col-md-4 col-sm-0"></div>
        <div class="col col-md-4 col-sm-12">
            <img class="img-responsive" alt="kiedys tu cos wstawie" src="images/logo.jpg" />
        </div>
    </div>
    <div class="row">
        <div class="col col-md-3 col-sm-0"></div>
        <div class="col col-md-6 col-sm-12">
            <div class="line"></div>
            <div class="break"></div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-4 col-sm-0"></div>
        <div class="col col-md-4 col-sm-12">
            <div layout:fragment="mainContent"></div>
        </div>
    </div>
</div>
<footer class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text" th:text="#{layout.navbar}"></p>
    </div>
</footer>
</body>
</html>